<div class="container">
    <div class="row menuContainer">
        <div class="col-sm-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>                        
							</button>
                <a class="navbar-brand" href=""></a>
            </div>
            <nav class="navbar navbar-inverse menu" data-spy="affix" data-offset-top="80" style="z-index: 1000">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>                        
									</button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav sm">
                            <li class="active trans"><a href="./">Trang chủ</a></li>
                            <li><a href="gioi-thieu" class="trans">Giới thiệu</a></li>
                            <li ng-controller="BookCtrl"><a class="dropdown-toggle trans trans_2" data-toggle="dropdown" href="#" onclick="trans()">Danh mục sách<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="loai_sach in ds_loai_sach | filter: query track by $index"><a href="loai-sach/{{loai_sach.id}}">{{ loai_sach.ten_loai_sach }}</a></li>
                                    <!--<li><a href="#">Văn học nước ngoài</a></li>
                                    <li><a href="#">Thiếu nhi</a></li>
                                    <li><a href="#">Thời sự - Chính trị</a></li>
                                    <li><a href="#">Khoa học tự nhiên - Nhân văn</a></li>
                                    <li><a href="#">Tham khảo</a></li>-->
                                </ul>
                            </li>


                            
                            <li><a href="tin-tuc" class="trans">Tin tức</a></li>
                            <li><a href="lien-he" class="trans">Liên hệ</a></li>
                            <!--<div class="dropdown" ng-controller="BookCtrl" >
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" >
                                    <li ng-repeat="loai_sach in ds_loai_sach | filter: query track by $index"><a href="#">{{ loai_sach.ten_loai_sach }}</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>-->
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a href="./admin" class="trans"> Admin</a></li>-->
                            <li ng-controller="SessionCtrl">
                                <a href="#" class="trans" ng-if="thong_tin_login.tai_khoan"><span class="glyphicon glyphicon-user "></span>{{thong_tin_login.tai_khoan}}</a>
                                <a href="dang-nhap" class="trans" ng-if="thong_tin_login.tai_khoan==null"><span class="glyphicon glyphicon-user "></span>Đăng nhập</a>
                            </li>

                            <li ng-controller="SessionCtrl"><a href="#" class="trans" ng-click="logout()" ng-if="thong_tin_login.tai_khoan"><span class="glyphicon glyphicon-user "></span>Đăng xuất</a></li>
                            <li><a href="dang-ky" class="trans"><span class="glyphicon glyphicon-log-in"></span> Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>